<li id="state-{{instanceName}}">
    <div class="collapsible-header">
        <i class="material-icons">devices</i>
        <div class="instance-name"><span class="new badge total-screen-time" data-badge-caption="">{{#formatState}}{{state.deviceState}}{{/formatState}}</span>{{instanceName}}</div>
    </div>
    <div class="collapsible-body">
        <div class="instance-report">
        <ul class="collection">
            <li class="collection-item device-state" data-instance="{{instanceName}}">
                Device state
                <label>
                    <input name="device-state-{{instanceName}}" value="ACTIVE" type="radio" {{#ifEquals state.deviceState  "ACTIVE"}}checked{{/ifEquals}} />
                    <span>{{#formatState}}ACTIVE{{/formatState}}</span>
                </label>
                <label>
                    <input name="device-state-{{instanceName}}" value="LOCKED" type="radio" {{#ifEquals state.deviceState  "LOCKED"}}checked{{/ifEquals}} />
                    <span>{{#formatState}}LOCKED{{/formatState}}</span>
                </label>
                <label>
                    <input name="device-state-{{instanceName}}" value="LOGGED_OUT" type="radio" {{#ifEquals state.deviceState  "LOGGED_OUT"}}checked{{/ifEquals}} />
                    <span>{{#formatState}}LOGGED_OUT{{/formatState}}</span>
                </label>
                <label>
                    <input name="device-state-{{instanceName}}" value="APP_DISABLED" type="radio" {{#ifEquals state.deviceState  "APP_DISABLED"}}checked{{/ifEquals}} />
                    <span>
                        {{#formatState}}APP_DISABLED{{/formatState}}<br>
                        <i>If you select this state, the app on child's device will be turned off and removed from the "Autorun"/"Autostart".</i><br>
                        <i>Use this state if you want to update the app.</i><br>
                        <i>Remember to manually turn the app on after de-selecting this state.</i>
                    </span>
                </label>
                <span id="countdown-{{instanceName}}" style="{{#ifEquals state.deviceState "ACTIVE"}}visibility: hidden{{/ifEquals}}{{#ifEquals state.deviceState "APP_DISABLED"}}visibility: hidden{{/ifEquals}}">
                    <hr />
                    <label>
                        <input name="countdown-{{instanceName}}" type="checkbox" {{#ifGt state.deviceStateCountdown 0}}"checked"{{/ifGt}} />
                        <span>With countdown</span>
                    </label>
                </span>
                <div class="input-wrapper">
                    <a class="btn filled right save-button">Save</a>
                </div>
            </li>
        </ul>
        </div>
    </div>
</li>