<li id="report-{{instanceName}}">
    <div class="collapsible-header">
        <i class="material-icons">devices</i>
        <div class="instance-name"><span class="new badge total-screen-time" data-badge-caption="">{{#formatScreenTime}}{{screenTimeSeconds}}{{/formatScreenTime}}</span>{{instanceName}}</div>
    </div>
    <div class="collapsible-body">
        <div class="instance-report">
        <ul class="collection">
            {{#each appUsageSeconds}}
                <li class="collection-item">
                    {{name}}
                    <span class="secondary-content">{{#formatScreenTime}}{{usageSeconds}}{{/formatScreenTime}}</span>
                </li>
            {{/each}}
        </ul>
        </div>
    </div>
</li>