<div class="edit-instance-data">
    <h5>Device: <b>{{instanceName}}</b></h5>
    <div class="input-field">
        <input id="instance-name" type="text" placeholder="" value="{{instanceName}}">
        <label for="instance-name">Instance name</label>
    </div>

    <div class="fake-label">
        Instance icon
    </div>
    <img src="data:{{icon.type}};base64,{{icon.data}}" alt="Device" class="circle image-icon left" data-type="{{icon.type}}" data-icon="{{icon.data}}">
    <div class="remove-icon-container" style="display: none;">
        <button type="button" class="btn filled" id="remove-icon-btn">
            <span>Remove icon</span>
        </button>
    </div>
    <div class="file-field input-field">
        <div class="btn filled">
            <span>Change icon</span>
            <input type="file" id="instance-icon" accept="image/png, image/jpg">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
        </div>
    </div>
</div>