<li class="instance-details" data-instanceid="{{instanceId}}">
    <div class="collapsible-header">
        <img src="{{#if icon.type}}data:{{icon.type}};base64,{{icon.data}}{{else}}default-icon.png{{/if}}" alt="Device" class="circle image-icon">
<!--        <i class="material-icons">devices</i>-->
        <div class="instance-name">
            <span>{{instanceName}}</span>
            <span class="new badge screen-time" data-badge-caption="">{{#formatScreenTime}}{{screenTimeSeconds}}{{/formatScreenTime}}</span>
            {{#if forcedDeviceState}}
                <span class="new badge orange mr-2" data-badge-caption="">
                    <svg xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 -960 960 960" width="12px" fill="var(--md-sys-color-on-primary)">{{{forcedDeviceState.icon}}}</svg>
                    {{forcedDeviceState.title}}
                </span>
            {{/if}}
            {{#unless forcedDeviceState}}
                <span class="new badge green mr-2" data-badge-caption="">
                    <svg xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 -960 960 960" width="12px" fill="var(--md-sys-color-on-primary)">
                        <path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z" />
                    </svg>
                    Automatic: {{automaticDeviceState.title}}
                </span>
            {{/unless}}
            {{#if online}}
                <span class="badge mr-2 is-online" data-badge-caption=""><i class="material-icons tiny">online_prediction</i></span>
            {{/if}}
        </div>
    </div>
    <div class="collapsible-body">
        <div class="instance-report">
            <ul class="collection">
                {{#each appUsageSeconds}}
                    <li class="collection-item app-usage-item" data-app-path="{{path}}">
                        <div class="app-info">
                            <img src="{{#if iconBase64}}data:image/png;base64,{{iconBase64}}{{else}}default-icon.png{{/if}}" 
                                 alt="{{appName}}" 
                                 class="app-icon circle">
                            <div class="app-details">
                                <span class="app-name clickable-app-name" 
                                      data-app-name="{{#if appName}}{{appName}}{{else}}{{name}}{{/if}}"
                                      data-app-path="{{path}}">{{#if appName}}{{appName}}{{else}}{{name}}{{/if}}</span>
                                <div class="app-group-labels">
                                    {{#each appGroups}}
                                        <span class="app-group-label" 
                                              data-group-id="{{id}}"
                                              style="background-color: {{color}}; color: {{textColor}};">
                                            {{name}}
                                            <i class="material-icons tiny remove-group-btn">close</i>
                                        </span>
                                    {{/each}}
                                    <button class="add-group-btn" style="visibility: hidden;">
                                        <i class="material-icons tiny">add</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <span class="secondary-content">
                            {{#if online}}
                                <span class="mr-2 is-online"><i class="material-icons tiny">online_prediction</i></span>
                            {{/if}}
                            {{#formatScreenTime}}{{usageSeconds}}{{/formatScreenTime}}
                        </span>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="input-wrapper instance-buttons">
            <a class="btn outlined right mb-2 mr-1 client-info hide-on-med-and-up">Client information</a>
            <a class="btn text mb-2 client-info hide-on-small-only"><i class="material-icons">info</i></a>
            <a class="btn outlined right mb-2 mr-1 client-edit hide-on-med-and-up">Edit</a>
            <a class="btn text mb-2 client-edit hide-on-small-only"><i class="material-icons">edit</i></a>
            <a class="btn outlined right mb-2 mr-1 client-delete hide-on-med-and-up">Delete</a>
            <a class="btn text mb-2 client-delete hide-on-small-only"><i class="material-icons">delete</i></a>
            <a class="btn outlined right mb-2 mr-1 change-state">Change device state</a>
            <a class="btn outlined right mb-2 mr-1 edit-schedule">
                <i class="material-icons hide-on-small-only">calendar_month</i>
                <span class="hide-on-med-and-up">Edit schedule</span>
            </a>
            <a class="btn outlined right mb-2 mr-1 view-usage hide-on-med-and-up">Usage</a>
            <a class="btn text mb-2 view-usage hide-on-small-only"><i class="material-icons">bar_chart</i></a>
        </div>
    </div>
</li>