<li>
    <div class="collapsible-header">
        <i class="material-icons">devices</i>
        <div class="instance-name"><span class="new badge total-screen-time" data-badge-caption="">{{#formatState}}{{state.deviceState}}{{/formatState}}</span>{{instanceName}}</div>
    </div>
    <div class="collapsible-body">
        <div class="instance-report">
            <ul class="collection">
                <li class="collection-item schedule" data-instance="{{instanceName}}">
                    <div id="schedule-{{instanceName}}" class="mb-4">
                        <div>
                            <ul class="tabs">
                                <li class="tab"><a href="#schedule-{{instanceName}}-MON" class="active">Monday</a></li>
                                <li class="tab"><a href="#schedule-{{instanceName}}-TUE">Tuesday</a></li>
                                <li class="tab"><a href="#schedule-{{instanceName}}-WED">Wednesday</a></li>
                                <li class="tab"><a href="#schedule-{{instanceName}}-THU">Thursday</a></li>
                                <li class="tab"><a href="#schedule-{{instanceName}}-FRI">Friday</a></li>
                                <li class="tab"><a href="#schedule-{{instanceName}}-SAT">Saturday</a></li>
                                <li class="tab"><a href="#schedule-{{instanceName}}-SUN">Sunday</a></li>
                            </ul>
                        </div>
                        <div id="schedule-{{instanceName}}-MON">MON</div>
                        <div id="schedule-{{instanceName}}-TUE">TUE</div>
                        <div id="schedule-{{instanceName}}-WED">WED</div>
                        <div id="schedule-{{instanceName}}-THU">THU</div>
                        <div id="schedule-{{instanceName}}-FRI">FRI</div>
                        <div id="schedule-{{instanceName}}-SAT">SAT</div>
                        <div id="schedule-{{instanceName}}-SUN">SUN</div>
                    </div>
                    <div class="input-wrapper">
                        <a class="btn outlined right edit-button">Edit</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</li>